@import "main.css"

.year {
    font-size: 40px;
}

body {
    
}
.col{
    color: white;
}
.inine{
    display: inline;
}
.rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: end;
    position:fixed;
    right:-40px;
    bottom: 150px;
  
  
}

@font-face {
  font-family: roman;
  src: url(font/time.ttf);
}
.black{
    background-color: black;
    color: white;
}
.fd{
    border-width: thin; 
    border-color: black;
    border-style: solid;
}
.fd2{
     padding-left:10px;
    padding-right:10px;
   
}
.just{
    text-align: justify;
    
    
}
.min{
    font-size: 14px
    
}
.end{
    color: white;
    background-color: black;
  
    padding-top: 20px;
    position:relative;
    bottom: 0px;
}
.contact{
    float: right;
    display: inline;
}
.vl2{
     border-right: 1px solid black;
border-color: black;
  
    
}
.content{
    padding-bottom: 50px;
    padding-top: 50px;
}
.claimback{
    padding-bottom: 100px;
    padding-top: 100px;
   
    background-color:#323232;
}
.inc{
    width: 200px;
    height: 100px;
    
}
.product{
    width: 300px;
    height: 170px;
}
img:hover{
    border-color: black;
    border-width: thin;
    border-style: solid;
    
}
.claimback2{
   
     padding-top: 100px;
    padding-bottom: 100px;
   
background-color: #FFDA1F;
}
.bestheading{
    color: grey
    
}
.best{
    width: 100%;
    height:200px
    
    
}
.inline{
    align-content:
    
}
.vl {
  border-left: 1px solid black;
border-color:#FFDA1F;
  height: 300px;
}
.heading{
    font-weight: 200;
}
.card{
    padding-left: 3px;
    padding-right: 3px;
    background-color:#2F2E2E;
    padding-bottom: 10px;
}
.cardb{
    
   color:#FFDA1F;
   height: 300px;
background-color:#2F2E2E;
}


.end{
    background-color: #FFDA1F;
    color: #2F2E2E;
    
}