@import "main.css"

.year {
    font-size: 40px;
}

body {
    
}
.col{
    color: white;
}
.inine{
    display: inline;
}
.rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: end;
    position:fixed;
    right:-40px;
    bottom: 150px;
  
  
}

@font-face {
  font-family: roman;
  src: url(font/time.ttf);
}
.black{
    background-color: black;
    color: white;
}
.fd{
    border-width: thin; 
    border-color: black;
    border-style: solid;
}
.fd2{
     padding-left:10px;
    padding-right:10px;
   
}
.just{
    text-align: justify;
    
    
}
.min{
    font-size: 14px
    
}
.end{
    color: white;
    background-color: black;
   
    padding-top: 20px;
     
}
.contact{
    float: right;
    display: inline;
}
.vl2{
     border-right: 1px solid black;
border-color: black;
  
    
}
.bestheading{
    color: grey
    
}
.best{
    width: 100%;
    height:200px
    
    
}
.inline{
    align-content:
    
}
.vl {
  border-left: 2px solid black;
border-color: black;
  height: 300px;
}
.heading{
    font-weight: 200;
}

.cardb{
    background-color:white;
    color:black;
    height: 100px;
}


.end{
    background-color: #FFDA1F;
    color: #2F2E2E;
    
}